<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Product</h4>
    </div>
    <div class="card-body">
        <form action="/addCustomer" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductCategory">Product Category</label>
                        <input type="text" class="form-control" name="ProductCategory" placeholder="enter Product Category" id="ProductCategory">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductName">Product Name</label>
                        <input type="text" class="form-control" name="ProductName" placeholder="enter Product Name" id="ProductName">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductOne">Product One</label>
                        <input type="text" class="form-control" name="ProductOne" placeholder="enter Product One" id="ProductOne">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductTwo">Product Two</label>
                        <input type="text" class="form-control" name="ProductTwo" placeholder="enter Product Two" id="ProductTwo">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductThird">Product Third</label>
                        <input type="text" class="form-control" name="ProductThird" placeholder="enter Product Third" id="ProductThird">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="ProductFourth">Product Fourtj</label>
                        <input type="text" class="form-control" name="ProductFourth" placeholder="enter Product Fourth" id="ProductFourth">
                    </div>
                </div>
            </div>
            <div class="">
                <button itype="submt" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>